services:
  db:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: vdanta
    volumes:
      - vdanta_data:/var/lib/postgresql/data

volumes:
  vdanta_data:
